.development-statement-sec-three{
	padding: 55px 0 85px 0;
}
.development-statement-innr{
	padding: 0 65px;
}
.our-statement{
	padding-bottom: 20px;
}
.our-statement h4{
	font-weight: 600;
	font-size: 32px;
	text-transform: capitalize;
}
.our-statement p{

}
.development-work-demos-sec-four{
	padding-bottom: 50px;
}