h1,h2,h3,h4,h5,h6{
	color: #000;
	font-family: ;
	font-weight: 700;
	line-height: 52px;
}
h1{
	font-size: 45px;
}
h2{
	font-size: 42px;
}
h3{
	font-size: px;
}
h4{
	font-size: px;
}
h5{
	font-size: px;
}
h6{
	font-size: px;
}